
*{
  background-color:lightblue;
}

a{
  text-decoration: none;
  color:white;
  padding:1%;
  width:15%;
 
}
.nav{
  display:flex;
  justify-content:center;
}
nav{
  width:80%;
  display:flex;
  justify-content: flex-end;
  align-items:center;
}

h2{
  background-color:lightgray;
}

h2{
  font: size 2;
  margin-bottom:0;
}
p{
  margin-top:0;
  padding-top:0;
  color:red;
  font-style: italic;
}

input{
  width: 33%;
}

#original, #garlicranch, #bbqsauce {
  display: flex;
}

span{
  font-style: italic;
}

.name{
  display:flex;
  margin-bottom:0;
  padding-bottom:0;
} 